<template name="Location_Picker">
  <div class="{{#if required}}required{{/if}} field">
    <div id="map-container" style="max-height: 500px; height: 100vh; margin: 0; padding: 0">
      <input name="{{#if name}}{{name}}{{else}}{{label}}{{/if}}"
             id="pacInput"
             value="{{value}}"
             class="controls" type="text" placeholder="Search Box">
      {{> googleMap name="eventMap" options=locationPicker}}
    </div>
  </div>

  <br>
  {{> Form_Error_Message errorMessage=errorMessage}}
</template>