<template name="Event_Card">
  <div id="{{id}}" class="ui link card">
    <div class="image"><img src="{{picture}}"></div>
    <div class="content">
      {{#if currentUser}}<i class="right floated large {{#if starred id}}yellow{{else}}empty{{/if}} star icon"></i>{{/if}}
      <div class="header">{{name}}</div>
      <div class="description">{{description}}</div>
    </div>
    <div class="extra content">
      <span class="right floated"><i class="calendar icon"></i>{{formatDate date}}</span>
      <a class="left floated user-link" href="{{pathFor 'Profile_Page' username=organizer}}">
        <i class="user icon"></i>{{organizer}}
      </a>
    </div>
  </div>
</template>
