<template name="Footer">
  <div class="ui bottom borderless inverted menu navbar">
    <div class="right aligned item">Whats Happening</div>
    <a class="item"><i class="circle thin icon"></i></a>
    <a href="https://github.com/glennga" class="item">Glenn Galvizo</a>
    <a class="item"><i class="circle thin icon"></i></a>
    <a href="https://github.com/dtokita" class="item">Dylan Tokita</a>
    <a class="item"><i class="circle thin icon"></i></a>
    <a href="https://github.com/jerry1100" class="item">Jerry Wu</a>
    <div class="item"><i class="circle thin icon"></i></div>
    <div class="left aligned item">ICS 314, Spring 2017</div>
  </div>
</template>
