<template name="Footer">
  <div class="ui bottom borderless inverted menu navbar">
  <a class="right aligned item">Whats Happening</a>
  <a class="item"><i class="circle thin icon"></i></a>
  <a href="https://github.com/glennga" class="item">Glenn Galvizo</a>
  <a class="item"><i class="circle thin icon"></i></a>
  <a href="https://github.com/dtokita" class="item">Dylan Tokita</a>
  <a class="item"><i class="circle thin icon"></i></a>
  <a href="https://github.com/jerry1100" class="item">Jerry Wu</a>
  <a class="item"><i class="circle thin icon"></i></a>
  <a class="left aligned item">ICS 314, Spring 2017</a>
</div>
</template>
