<template name="Landing_Header">
  <div class="ui top fixed borderless inverted menu navbar">
    <div class="ui container">
      {{#if currentUser}}
        <a class="item" href="{{pathFor 'Home_Page'}}"><h1>What's Happening</h1></a>
      {{else}}
        <a class="item" href="{{pathFor 'Landing_Page'}}"><h1>What's Happening</h1></a>
      {{/if}}

      <a class="right aligned item" href="{{ pathFor 'Home_Page' }}"><i class="lock icon"></i>Admin</a>
      <a class="item">{{> Cas_Login }}</a>
    </div>
  </div>
</template>
