.ui.top.fixed.borderless.inverted.menu.navbar {
  background-color: #395C78;
  background-color: rgba(0, 0, 0, 0.2);
}

.page-footer {
  background-color: #395C78;
  color: #FFFFFF;
  padding-bottom: 15px;
}

.ui.fluid.container.landing.page.background {
  background-image: url("/images/landing-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
}

.ui.center.aligned.container.landing.page {
  padding-top: 225px;
}

.profile-picture {
  padding: 6px !important;
}

